<!-- nav -->
<mat-toolbar color="primary" *ngIf="currentUser">
    <mat-toolbar-row>
            <button mat-raised-button color="primary" routerLink="/">Home</button>
            <button mat-raised-button color="primary" routerLink="/users">Users</button>
            <button mat-raised-button color="primary" routerLink="/records">Records</button>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Password</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>



<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
